/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');


#content{
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color: #023e8a;
    color: white;
    padding: 5px; 
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #023e8a;
    opacity: .9;
}
#logo {
    padding-top: 5px;
    margin-left: 20px;
    justify-self: center;
    align-self: center;
}
#logo_link {
    padding-top: 5px;
    margin-left: 50px;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 25px;
}
nav a:hover {
    
    color: #fe9f00;
    font-size: 1.2em;
    text-decoration: underline;
}
body {
    background-color: #c4e0f7; 
    font-family: IM Fell French Canon, Lato, Helvetica, sans-serif;
    font-size: 32px;
}
#home-page-collage {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -85px;
}
#home-page-box {
    grid-column: 1/12;
    grid-row: 1/8;
    z-index: -1;
}
#home-page-title-msg {
    grid-column: 2/4;
    grid-row: 5/6;
    transform: rotate(-23deg);
    
}
#home-page-title-msg h1{
    text-align: center;
    margin-top: 100px;
}
#home-page-title-msg h4{
    text-align: center;
    color: #023e8a;
    margin-top: -50px;
}
#home-page-img {
    width: 100%;
}
.button-box{
    text-align: center;
    margin-top: 30px;
}
.home-page-title {
    color: #fe9f00;
    font-size: 2em;
}
.home-page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.home-page-background {
    background-color:#023e8a;
    padding: 20px;
    grid-column: 1/11;
    border-radius: 25px;
    margin: 50px;
    margin-top: 50px;
    margin-bottom: 25px;

}
.home-page-background p{
    color: #023e8a;
    background-color:#c4e0f7;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #c4e0f7;
    margin: 25px auto;
    text-align: center;

}
.home-page-background h2{
    background-color:#c4e0f7;
    color: #fe9f00;
    border-radius: 25px;
    padding: 20px;
    width: 50%;
    margin: 25px auto;
    box-shadow: 5px 5px 10px #c4e0f7;
    text-align: center;
    
}
.home-page-knots-background {
    background-color:#023e8a;
    padding: 20px;
    grid-column: 1/6;
    margin: 50px;
    margin-right: 25px;
    border-radius: 25px;
}

.home-page-knots-background h1 {
    background-color:#c4e0f7;
    color: #fe9f00;
    border-radius: 25px;
    padding: 20px;
    width: 50%;
    box-shadow: 5px 5px 10px #c4e0f7;
    margin: 25px auto;
    text-align: center;
}
.home-page-knots-background p {
    color: #023e8a;
    background-color:#c4e0f7;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #c4e0f7;
    margin: 25px auto;
    text-align: center;
}
.home-page-beads-background {
    background-color:#023e8a;
    padding: 20px;
    grid-column: 6/11;
    margin: 50px;
    margin-left: 25px;
    border-radius: 25px;
}
.home-page-beads-background h1 {
    background-color:#c4e0f7;
    color: #fe9f00;
    border-radius: 25px;
    padding: 20px;
    width: 50%;
    box-shadow: 5px 5px 10px #c4e0f7;
    margin: 25px auto;
    text-align: center;
}
.home-page-beads-background p {
    color: #023e8a;
    background-color:#c4e0f7;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #c4e0f7;
    margin: 25px auto;
    text-align: center;
}
.home-page-beads-image {
    width: 80%;
}
.home-page-knots-image {
    width: 100%;

}
.logo {
    width: 200px;
}
footer {
    background-color: #023e8a;
    color: white;
    padding: 5px;
    margin-top: 50px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img   {
    padding-top: 15px;
}
footer h3 {
    color: #001794;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color:#fe9f00
}
footer p a:hover {
    font-size: 1.2em;
    text-decoration: underline;
}

/* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 900px) {
    #home-page-collage, .home-page-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #home-page-collage {
        margin-top: 0;
    }
    #home-page-title-msg {
        margin-top: 0;
    }
    #home-page-title-msg h4 {
        display: none;
    }
    .home-page-title {
        font-size: 25px;
        transform: rotate(23deg);
    }
    .home-page-background, .home-page-knots-background, .home-page-beads-background {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
